.aboutsection {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}

.about-us h1 {
  font-size: 35px;
  margin-top: 30px;
}
.about-us p {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  margin-top: 20px;
  font-size: 18px;
}

.backaboutimg {
  margin-top: 20px;
  border: 2px solid black;
  width: 100%;
  height: 500px;
  background: url("../assets/instabackground1.jpg") center center no-repeat
    fixed;

  filter: brightness(0.7);
  margin-bottom: 20px;
}
